<h3>响应式表单</h3>

<form [formGroup]="formModel" (submit)="createUser()">
  <div>昵称: <input formControlName="nickname" type="text" /></div>
  <div>手机号: <input formControlName="mobile" type="number" /></div>
  <div>邮箱:
    <ul formArrayName="emails">
      <li *ngFor="let e of this.formModel.get('emails').controls;let i = index">
        <input type="email" [formControlName]="i" />
      </li>
    </ul>
    <button (click)="addEmail()">增加邮箱</button>
  </div>
  <div formGroupName="passwordInfo">
    <div>密码: <input formControlName="password" type="password" /></div>
    <div>确认密码: <input formControlName="passwordConfirm" type="password" /></div>
  </div>

  <button type="submit">提交</button>
</form>